<!-- displays all timelines as a list of clickable headers -->
<!-- import static/style.css -->
{% load static %}
<link rel="stylesheet" href="{% static 'timelines/style.css' %}">
<!-- show a button to add a new timeline -->
<a href="{% url 'timelines:add_timeline' %}">Add a new timeline</a>
<!-- each header links to the timeline's page -->
{% for timeline in timelines %}
<div class="timeline">
    <h1><a href="{% url 'timelines:timeline' timeline.id %}">{{ timeline.name }}</a></h1>
    <p>{{ timeline.description }}</p>
</div>
{% endfor %}